* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

.container {
  background-color: lightseagreen;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* player Buttons */
.playerBtn {
  margin: 0 auto;
  width: 30%;
  height: 10%;
  background-color: rgb(2, 85, 81);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 2em;
  color: cornsilk;
}

.playerBtn:hover {
  background-color: cornsilk;
  color: rgb(2, 85, 81);

}

/* #onePlayerBtn {
}

#twoPlayerBtn {
} */
